

//content
@import "./content/hero";
@import "./content/three-package-tabs";
@import "./content/how-it-works";
@import "./content/termin-vereinbaren";
@import "./content/testmonial";







//contact page
@import "./contact";






a:hover,a:focus{
	color:$grey-light;
	text-decoration: none;
}












































