$light_grey: #E7E7E7;
$dark_gray: #D4D4D4;






body.online-gutschein-overview-page{
	#bookingKitContainer{
		background-color:#FCFCFC !important;
		padding:70px 0px !important
	/*	display:flex;
		flex-wrap: wrap;*/
		.bk-events-item {
			/*display:inline-block;
			width:50%;
			float:left;
			clear:none;*/
			font-size:16px;
			box-sizing: border-box;
			border-top:1px solid $light_grey;
			border-left:1px solid $light_grey;
			border-right:1px solid $light_grey;
			border-bottom:2px solid $dark_gray;
			padding:10px;
			background-color:white;
			.bk-date-btn.alphaBg{
				display:none;
			}

			.alphaColor{
				font-size: .65em;
				font-weight:bold;
				line-height: 1em !important;
				margin-top:5px;
				margin-bottom:5px;
       			margin-left: -2px;
       			margin-right: -5px;
				span{
					display:none;
				}

			} 
			
			.bk-events-images{
				width:40%;
				max-width:300px;
				padding-right:10px;
				border-right:1px solid $light_grey;
				margin-right:10px;

			}

			.bk-events-informations{
				font-size:1em;
				width:50%;
				position:absolute;
				right:0;
				top:0;
				margin-top:10px;
				margin-right:10px;
				.bk-events-desc-small{
					/*display:none !important;*/
					font-size:1em;
					div{
						font-size:0.5em;
						line-height:1.3em;
						margin-bottom:1em;
					}
					h3{
						font-size:0.6em;
						border:0;
						margin-bottom:2px;
						color:#5EBEED !important;
						font-weight:bold;
					}
					p{
						display:none;
					}
				}
			}

			.bk-events-buttons{
				width:50%;
				position:absolute;
				right:0;
				bottom:0;
				margin-right:10px;
				margin-bottom:10px;
				.bk-voucher-btn.betaBg{
					/*float:right;*/
					padding:0.1em 0.2em !important;
					font-size:0.70em !important;
					line-height:1.5em !important;
					font-style: italic !important;
					width:100%;
					border-radius: 5px !important;
					background-color:#5ECAFB !important;
					border:2px solid #5ECAFB !important;
					&:hover{
						background-color:white !important;
						color:#5ECAFB !important;
					};

				}
			}

		}

	}
}


@media screen  and (min-width:375px){
	body.online-gutschein-overview-page{
		#bookingKitContainer{
			.bk-events-item{
   					font-size:18px;
			}
		}
	}
}


@media screen  and (min-width:450px){
	body.online-gutschein-overview-page{
		#bookingKitContainer{
			.bk-events-item{
   					font-size:22px;
			}
		}
	}
}

@media screen  and (min-width:600px){
	body.online-gutschein-overview-page{
		#bookingKitContainer{
			.bk-events-item{
   					font-size:29px;
			}
		}
	}
}


@media screen  and (min-width:700px){
	body.online-gutschein-overview-page{
		#bookingKitContainer{
			.bk-events-item{
   					font-size:29px;
   					.bk-events-informations{
   						position:relative;
   						float:right;
   						width:54%;
   						.bk-events-desc-big.bk-detail-list{
							div{
								font-size:1em !important;
								margin-bottom:12px !important;
							}
   							h3{
   								font-size:1.7em !important;
   								color:#5EBEED !important;
   								border:none !important;
   							}
   							p{
   								font-size:1em !important;
   								line-height:1.4em;
   							}
   						}
   					}
					.bk-events-buttons{
						position:relative;
						float:right;
						width:54%;
					}
			}
		}
	}
}


@media screen and (min-width:993px) {
   body.online-gutschein-overview-page{
   		#bookingKitContainer{
   			.bk-events-item{
   				display:flex;
   				align-items: center;
   				.bk-events-informations{
		   			display:inline-block;
					position:initial;
		   			float:left;
		   			width:calc((100% - 350px) / 1.5) !important;
		   		}

		         .bk-events-buttons{
		         	display:inline-block;
			        position:initial;
		         	float:left;
		         	width:calc((100% - 240px) / 3) !important;
		         	.bk-voucher-btn.betaBg{
						font-size: 0.4em !important;
		         	}
		         }
   			}
   			
   		}
   }
}





@media screen and (min-width:993px) {
   body.online-gutschein-overview-page{
   		#bookingKitContainer{
   			.bk-events-item{
   				 .bk-events-informations{
					align-self: flex-start;
   				 }
		         .bk-events-buttons{
		         	.bk-voucher-btn.betaBg{
						font-size: 0.6em !important;
		         	}
		         }
   			}
   			
   		}
   }
}








/*@media screen and (min-width:993px) {
	body.online-gutschein-overview-page{
		#bookingKitContainer{
			.bk-events-item {
				width:48%;
			}
			.bk-events-item:nth-child(even){
				margin-right:4%;
			}
		}
	}
		
	
}*/

