/*START OF custom code*/

.jssocials{
	position:fixed;
	right:0;
	top:40%;
	z-index:999;
	.jssocials-shares{
		.jssocials-share{
			margin-bottom:35px;
		}
	}
}



/*
.jssocials-share-twitter.jssocials-share-link{
	text-align:center;
}



.jssocials-share-twitter.jssocials-share-link,.jssocials-share-count{
	display:block;
}
*/



