section.nav_bar_very_top .container {
  display: flex;
  text-align: center;
  padding: 2px 0px; }

section.nav_bar_very_top .container a {
  margin-right: 20px;
  color: black;
  font-size: 12px; }
  section.nav_bar_very_top .container a:hover {
    color: white; }

section.nav_bar_very_top {
  width: 100%;
  top: -25px;
  z-index: 9996;
  margin: 0px;
  padding: 0px;
  height: 25px;
  background-color: #ffcc05;
  transition: all .3s ease-in-out; }

section.nav_bar_very_top.sticky {
  top: 0px;
  position: fixed;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  transition: all .3s ease-in-out; }

section.nav_bar_very_top.sticky .container a {
  color: white; }
  section.nav_bar_very_top.sticky .container a:hover {
    color: lightgrey; }

@media screen and (min-width: 650px) {
  section.nav_bar_very_top .container {
    text-align: right; } }

.first_level {
  background-color: red;
  display: flex; }
  .first_level .second_level {
    background-color: green; }
    .first_level .second_level last_level {
      background-color: blue; }
      .first_level .second_level last_level:hover {
        background-color: pink; }
