

.nav-section{
	.header-contact-info{
		color:white;
		margin-left:10px;
		float:right;
		font-weight:100;
	}

	.container{
		clear:both;
	}



}









.nav-section{
  background-color:rgba(0,0,0,.5);
  clear:both;
  
	nav{
		 background-color:rgba(0,0,0,0);
		 box-shadow: none;
		 .logo-wrapper{
		 	   	 margin-right:20px;
				 .logo-img{
					width:130px;
					padding:7px 0;
				  }

		 }
		 
	}

}



