.nav-section .header-contact-info {
  color: white;
  margin-left: 10px;
  float: right;
  font-weight: 100; }

.nav-section .container {
  clear: both; }

.nav-section {
  background-color: rgba(0, 0, 0, 0.5);
  clear: both; }
  .nav-section nav {
    background-color: transparent;
    box-shadow: none; }
    .nav-section nav .logo-wrapper {
      margin-right: 20px; }
      .nav-section nav .logo-wrapper .logo-img {
        width: 130px;
        padding: 7px 0; }
